<link rel="stylesheet" href="/style.css">
<div class="sidebar">
    <button id="myBtn" class="dropbtn">
        <%if(!user.dp) {%>
        <img src="https://t4.ftcdn.net/jpg/04/83/90/95/360_F_483909569_OI4LKNeFgHwvvVju60fejLd9gj43dIcd.jpg" class="icon">
        <%}else{ %>
        <img src="<%= user.dp%>" class="icon">
        <% } %>
    </button>
    <p class="hide"><%= user.name %></p>
    <a href="/api/profile/<%= user.name %>">Profile</a>
    <a class="active" href="/home/<%= user.name %>">Home</a>
    <a href="/api/friends/<%= user.name %>">Friends</a>
    <a href="/api/post/<%= user.name %>">Posts</a>
    <a href="/api/chat">Chat</a>
    <a href="/">Logout</a>
</div>


<div id="postpage">
    <div id="myPost">
        <% if (postdata.length > 0) { %>
            <div class="posts-container">
                <% postdata.forEach(post => { %>
                    <div class="post">
                        <p><%= post.title %></p>
                        <%if(post.image){%>
                            <img src="<%= post.image %>" alt="Post Image" style="max-width: 50px; height: auto;">
                        <% } %>
                        <p><%= post.content %></p>
                        <br>
                        <p>Likes:<%=post.likes%></p>
                        <p>Dislikes:<%=post.dislikes%></p>
                        <p>Comments:<%=post.comments%></p>
                        <form action="/api/delete/<%= post._id %>" method="POST">
                            <button type="submit" class="btn btn-danger">Delete post</button>
                        </form>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>No posts found.</p>
        <% } %>
    </div>
    <div id="createPost">
        <form id="createPostForm" action="/api/post/<%= user.name %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title" style="color:white;">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="content" style="color:white;">Content</label>
                <textarea id="content" name="content" required></textarea>
            </div>
            <div>
                <label for="image">Upload Image:</label>
                <input type="file" id="image" name="image" accept="image/*" >
            </div>
            <button type="submit" class="btn">Create Post</button>
        </form>
    </div>
</div>